<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foundation for Sites</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/foundation.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
    </head>
    <body>
        <div class="row box">
            <table class="hover">
                <thead class="header">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Nombre Completo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{user["first_name"]}}</td>
                            <td>{{user["last_name"]}}</td>
                            <td>{{user["first_name"]}} {{user["last_name"]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <script src="js/vendor/jquery.js"></script>
        <script src="js/vendor/what-input.js"></script>
        <script src="js/vendor/foundation.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>